{% extends "posts/base.html" %}

{% block content %}
    <div class="container mt-4">
        <div class="vertical-table">
                <div class="row">
                    <div class="label">ID-статьи</div>
                    <div class="value">{{ post.title }}</div>
                </div>
                <div class="row">
                    <div class="label">Заголовок статьи</div>
                    <div class="value">{{ post.title }}</div>
                </div>
                <div class="row">
                    <div class="label">ID-пользователя</div>
                    <div class="value">{{ post.userId }}</div>
                </div>
                <div class="row">
                    <div class="label">Текст статьи</div>
                    <div class="value">{{ post.body }}</div>
                </div>
    </div>
{% endblock %}
